@import './color.scss';

div#Output_container {
	height: 270px;
	margin: 50px 20px 20px 20px;
	padding: 50px 50px 80px 50px;
	background-color: #f7fafb;
	// border: 1px solid #c4c4c420;
	border-radius: 15px;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

div#FtraceList_container {
	margin: 10px;
	padding: 10px;
	width: 60%;
	height: 90%;
	display: flex;
	flex-direction: column;
}

div#graph_container {
	text-align: right;
	margin: 0px;
	padding: 10px;
	width: 50%;
	height: 90%;
}

div#items_container {
	overflow-y: scroll;
}

/* 스크롤바 설정*/
#items_container::-webkit-scrollbar {
	width: 6px;
}

/* 스크롤바 막대 설정*/
#items_container::-webkit-scrollbar-thumb {
	height: 17%;
	background-color: rgb(204, 204, 204);
	/* 스크롤바 둥글게 설정    */
	border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
#items_container::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}

div#FtraceList_head {
	border: 2px solid $root_background;
	border-radius: 3px;
	padding: 2px;
	display: flex;
	flex-direction: row;
	color: #0d1117;
}

div.FtraceList_item {
	display: flex;
	flex-direction: row;
	color: #0d1117;
}

div.FtraceList_item_added {
	display: flex;
	flex-direction: row;
	color: #001aff;
}

div.FtraceList_item_deleted {
	display: flex;
	flex-direction: row;
	color: #ff0000;
}

#FtraceList_items {
	overflow-y: scroll;
}

/* 스크롤바 설정*/
#FtraceList_items::-webkit-scrollbar {
	width: 8px;
}

/* 스크롤바 막대 설정*/
#FtraceList_items::-webkit-scrollbar-thumb {
	height: 17%;
	background-color: #161b22;
	/* 스크롤바 둥글게 설정    */
	border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
#FtraceList_items::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}

div.Timestamp {
	width: 20%;
}

div.CPU {
	width: 10%;
}

div.Delta {
	width: 10%;
}

div.Functions {
	padding: 0 0 0 15px;
	width: 50%;
}

div#check_container {
	padding-right: 10px;
}

div.explain_container {
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	float: right;
	text-align: right;
}

div#explain_color_1 {
	border-radius: 1px;
	padding: 5px;
	margin: 3px;
	background-color: #1f77b4;
}
div#explain_color_2 {
	border-radius: 1px;
	padding: 5px;
	margin: 3px;

	background-color: #ff7f0e;
}
